[Desktop Entry]
Name=apolut
Exec=webapp-container --webappUrlPatterns=https?://apolut.net/* https://apolut.net
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
