[Desktop Entry]
Name=kenfm
Exec=webapp-container --webappUrlPatterns=https?://kenfm.de/* https://kenfm.de
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
